*{
    box-sizing: boarder-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}

/* Navbar */

.navbar {
    background: #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container { 
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 50px;
}

.fa-gem {
    margin-right: 0.5rem;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center; 
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }

    .navbar__item {
        width: 100%
    }

    .navbar__links { 
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute; 
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    
    }

    .navbar__btn {
        padding-bottom: 2rem;

    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;

    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Home */


.hero__content {
    background-image: url('images/bottom.png');
    width: 100%;
    height: 542px;
    text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.hero__text {
    color: white;
    text-align: center;
    background-image: linear-gradient(RGBA(0,0,0,0.4), RGBA(0,0,0,0.4));
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 1em;
}

.hero__button {
    color: black;
    background-color: white;
    padding: 1em 3em;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30%;
    margin: 2em;
}

.home__bar {
    color: white; 
    background-color: #5A8165;
    font-size: 28px;
    text-align: center;
    padding: 1.01em
}

/*Sell */

.sell__image {
    background-image: url('images/sellpic.png');
    background: cover;
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    z-index: -1;

}
.sell__container {
    display: inline-block;
    align-items:top;
    border: 12px solid #131313;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 600px;
    position: relative;
    z-index: 1;
}

.sell__content {
    width: 100%;
    height: calc(100vh - 60px);
    text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;

}

/* About */

.about__image {
    background-image: url('images/home.png');
    background: cover;
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    z-index: -1;
}

.mission__content {
    color: white;
    background-image: linear-gradient(RGBA(0,0,0,0.4), RGBA(0,0,0,0.4));
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    font-size:45px;
    margin-left: 75px;
    margin-right: 75px;
}

.left__mission {
    text-align:center;
    color: #fff;
    background-image: linear-gradient(RGBA(0,0,0,0.4), RGBA(0,0,0,0.4));
    display: inline-block;
    padding: 0.5em;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
}

.who__content {
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0.25em;
    font-size:45px;
    margin-left: 25px;
    margin-right: 25px;
}

.who__stuff {
    text-align:center;
    color: #fff;
    background-image: linear-gradient(RGBA(0,0,0,0.4), RGBA(0,0,0,0.4));
    display: inline-block;
    padding: 0.25em;
    font-size: 20px;
    margin-top: 40px;
}

.who__pic {
    align-content: center;
    border: 12px solid #131313;
    display: inline-block;
    margin-top: 40px;
}

/* Request */ 

.sell__back {
    background-image: url('images/buy.jpg');
    background: cover;
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    z-index: -1

}

.search {
    position: relative;
    top: 125px;
    left: 600px;
    height: 100px;
    width: 300px;
    display: block;
    z-index: 1
}

.search input {
    width: 100%;
    font-size: 2em;
    border-radius: 10px;
    z-index: 1
}

.image {
    width: 160px;
    height: 150px;
    margin-left: 20px;
    z-index: 1
}

.image2 {
    width: 160px;
    height: 150px;
    margin-left: 20px;
    z-index: 1
}


.text {
    height: 70px;
    width: 100px;
    z-index: 1
}

.row {
    display: flex;
    flex-direction: row;
    z-index: 1
  }
  

.column img {
    margin-right: 2em;
    z-index: 1
}
.info {
    background-color: white;
    height: 150px;
    width: 100%;
    min-width: 1100px;
    display: inline-block;
    z-index: 1
    
}
